<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Travel Log</display-name>

	<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>org.vt.edu.MainServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Log-in</servlet-name>
		<servlet-class>org.vt.edu.LogInServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Sign-up</servlet-name>
		<servlet-class>org.vt.edu.SignUpServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Log-Entry</servlet-name>
		<servlet-class>org.vt.edu.LogEntryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Main</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Log-in</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Sign-up</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Log-Entry</servlet-name>
		<url-pattern>/logEntry</url-pattern>
	</servlet-mapping>

</web-app>